# core deps
numpy
cython
scipy
torch
torchaudio
soundfile
librosa
numba
inflect
tqdm
anyascii
pyyaml
fsspec
packaging
# deps for examples
flask
# deps for inference
pysbd
# deps for notebooks
umap-learn
pandas
# deps for training
matplotlib
# coqui stack
trainer
# config management
coqpit
# chinese g2p deps
jieba
pypinyin
# japanese g2p deps
mecab-python3
unidic-lite
# deps for korean
jamo
nltk
g2pkk
vinorm
underthesea
eng_to_ipa
prosodic
viphoneme
aiohttp
